{% include 'base.html.twig' %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<title>:: Swift - Hospital Admin ::</title>
		<link rel="icon" href="favicon.ico" type="image/x-icon">
		<link href="doctor-back/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link
		href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
		<!-- Dropzone Css -->
		<link
		href="doctor-back/plugins/dropzone/dropzone.css" rel="stylesheet">
		<!-- Bootstrap Material Datetime Picker Css -->
		<link
		href="doctor-back/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet"/>
		<!-- Wait Me Css -->
		<link
		href="doctor-back/plugins/waitme/waitMe.css" rel="stylesheet"/>
		<!-- Bootstrap Select Css -->
		<link href="doctor-back/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet"/>

		<link href="doctor-back/css/main.css" rel="stylesheet">
		<!-- Custom Css -->

		<!-- Swift Themes. You can choose a theme from css/themes instead of get all themes -->
	<link href="doctor-back/css/themes/all-themes.css" rel="stylesheet"/> </head>


	<section class="content">
	<form method="Post" action="{{path('addS')}}">
		<div class="container-fluid">
			<div class="block-header">
				<h2>Ajouter secretaire</h2>
			</div>
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="card">
						<div class="header">
							<h2>Basic Information
							</h2>
						</div>
						<div class="body">
							<div class="row clearfix">
								<div class="col-sm-4">
									<div class="form-group">
										<div class="form-line">
											<input type="text" name="Nom"class="form-control" placeholder="Nom">
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="form-line">
											<input type="text" name="Prenom" class="form-control" placeholder="Prenom">
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="form-line">
											<input type="text" name="Adress" class="form-control" placeholder="Adress">
										</div>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input type="text" name="Date_naissance" class="datepicker form-control" placeholder="Date naissance">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input type="text" name="Telephone" class="form-control" placeholder="Telephone">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input type="text" name="Email" class="form-control" placeholder="Email">
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<div class="form-line">
											<input type="password" name="Password" class="form-control" placeholder="Creer un mot de passe">
										</div>
									</div>
								</div>
							
								<div class="col-sm-12">
									<button type="submit" class="btn btn-raised g-bg-cyan">Ajouter</button>
									<button class="btn btn-raised">Annuler</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="color-bg"></div>
	<!-- Jquery Core Js -->
	<script src="doctor-back/bundles/libscripts.bundle.js"></script>
	<!-- Lib Scripts Plugin Js -->
	<script src="doctor-back/bundles/morphingsearchscripts.bundle.js"></script>
	<!-- morphing search Js -->
	<script src="doctor-back/bundles/vendorscripts.bundle.js"></script>
	<!-- Lib Scripts Plugin Js -->


	<script src="doctor-back/plugins/autosize/autosize.js"></script>
	<!-- Autosize Plugin Js -->
	<script src="doctor-back/plugins/momentjs/moment.js"></script>
	<!-- Moment Plugin Js -->
	<script src="doctor-back/plugins/dropzone/dropzone.js"></script>
	<!-- Dropzone Plugin Js -->
	<!-- Bootstrap Material Datetime Picker Plugin Js -->
	<script src="doctor-back/plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>

	<script src="doctor-back/bundles/mainscripts.bundle.js"></script>
	<!-- Custom Js -->
	<script src="doctor-back/bundles/morphingscripts.bundle.js"></script>
	<!-- morphing search page js -->
	<script src="doctor-back/js/pages/forms/basic-form-elements.js"></script>
</html></body></html>
